	<h1>Contact Our Sign Print Shop Location in Chicago, Illinois</h1>
	
	<p>We are located a few blocks north from I290 and  a few west from I90/I94, on Carroll Ave &amp; Damen Ave, close to downtown Chicago. Carroll is between Lake St and Grand Ave.
	</p>
	
	<div style="float: right; width: 50%">	

	<p>
		2037 W. Carroll Suite C-118<br />
		Chicago, IL 60612<br />
		Phone number: (312) 997-2245<br /> 
		Fax: (312) 997-2052 <br />
		Call us if you need directions to our sign company in Chicago.
	</p>
	
	
	
		<div style="margin: 0 auto; width: 410px; margin-top: 10px">
			<iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=2037+W.+Carroll+Suite+C-118+Chicago,+IL+60612&amp;oe=utf-8&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=2037+W+Carroll+Ave,+Chicago,+Cook,+Illinois+60612&amp;ll=41.88771,-87.678452&amp;spn=0.122682,0.219727&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=2037+W.+Carroll+Suite+C-118+Chicago,+IL+60612&amp;oe=utf-8&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=2037+W+Carroll+Ave,+Chicago,+Cook,+Illinois+60612&amp;ll=41.88771,-87.678452&amp;spn=0.122682,0.219727&amp;z=12&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>
</div>	