<%= render 'common' %>

<%content_for :contentCol2 do%>


	<p style="color: green">Your call back request was successfully sent.</p>

		
	<p>	
	 	A Green City representative will be in touch with you shortly. 		
	</p>
	
	<p>
		Thank you for your interest!
	</p>
<%end%>