<%= render 'common' %>

<div class="box contentBox smallBox">

	<p style="color: green">Your call back request was successfully sent.</p>
	<p>	
	 	A National Signs and Design representative will be in touch with you shortly. 		
	</p>
	
	<p>
		Thank you for your interest!
	</p>

</div>

		
