<div class="box contentBox">
	<div class="box contentBox" style="float: right;">
		<%=image_tag 'roles_of_color.jpg', :size => '350x263'%>
	</div>

	<h1>Our History</h1>
	<p>
		For over 23 years National Signs and Design has specialized in billboard creations, custom banners, and real estate signs at affordable prices.
	</p>
	
	<p>
	Located in Chicago, Illinois, the company has always been family owned and is currently run by Eric Vari, a Chicago resident since 1973. Experienced and knowledgeable, Eric Vari, now provides quality sign services throughout the Chicago land area.
	</p>
	
	<br />
	
	<h1>Our Philosophy</h1>
	<p>
		At National Signs and Design, we strive to produce high-quality signage at a reasonable price.
	</p>
	
	<p>
	We maintain our “small shop feel” by dedicating ourselves to customer service. When you call you always reach the owner, Eric Vari – day and night, he’s always available. 
	</p>
	

	<h1>Our Staff</h1>
	<p>
		Although we're proud of our products, services, and technology, nothing matches the pride we have in our staff. You see, we learned long ago that we're really in the business of building relationships. For that reason, we put a premium on hiring only the most qualified individuals to serve on our team.
	</p>
	<p>
		Every person on our staff is committed to providing excellent customer service and 
		producing high-quality products and services. As you work with us in the future, 
		we're confident that you'll find this to be true.
	</p>
	
	<p>
		<%=mail_to 'artwork@nationalsignsanddesign.com', 'E-mail'%> or <strong class="accentText">call National Signs and Design at (312) 997-2050</strong>
		for all of your custom banners and signs. At National Signs and Design <strong>we service clients both large and small</strong>.
	</p>

</div>
	
 