<div class="box contentBox">
	<h1>Save on Custom Banners &amp; Signs with Our Special Discount</h1>
	
	
	
	<div class="coupon">
		<h1>National Signs and Design web coupon</h1>
 	

		Mention This Website to Receive<br />
		<span class="percent">10% Off</span><br />
		Your First Service<br />
		<p class="disclaimer">
			Offer good for regularly priced items and services only. Not valid with any other offer.
		</p>
		
		<%=image_tag 'dentist_sign.jpeg', :size => '175x117', :alt => 'Custom Sign from Our Sign Company'%>
	</div>
	
	
	<p>
		<%=link_to 'Contact us', :action => 'contact' %> at (312) 997-2050 for <%=link_to 'directions', :action => 'location'%> to our sign company.
	</p>

</div>

