<div class="box contentBox">
	
	<h1>Our Sign Print Shop Location in Chicago, Illinois</h1>
	
	<p>We are located a few blocks north from I290 and  a few west from I90/I94, on Carroll Ave &amp; Damen Ave, close to downtwon Chicago. Carroll is between Lake St and Grand Ave.
	</p>
	<p>
		2037 W. Carroll Suite C-118<br />
		Chicago, IL 60612<br />
		<%=link_to 'Contact us', contact_us_path %> at (312) 997-2245 for directions to our sign company.
	</p>
	<br />
	<div style="margin: 0 auto; width: 650px;">
		<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=2037+W.+Carroll+Suite+C-118+Chicago,+IL+60612&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=2037+W+Carroll+Ave,+Chicago,+Cook,+Illinois+60612&amp;ll=41.88771,-87.678452&amp;spn=0.122682,0.219727&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=2037+W.+Carroll+Suite+C-118+Chicago,+IL+60612&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=2037+W+Carroll+Ave,+Chicago,+Cook,+Illinois+60612&amp;ll=41.88771,-87.678452&amp;spn=0.122682,0.219727&amp;z=12&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>

</div>

