<div class="box contentBox">
	
	<div class="box ContentBox" style="float: right;">
	<%= image_tag "steve_ray_vaughan_poster.jpg", :size => "400x300", :alt => "Poster printing example - Steve Ray Vaughan"%>
	</div>
	<h1>Products</h1>
	
	<ul>
		<li>A-boards and Sandwich Signs</li> 
		<li>ADA Signage</li> 
		<li>Architectural Building Signage</li> 
		<li>Banners</li> 
		<li>Boat Graphics and Lettering</li>
		<li>Custom Labels</li> 
		<li>Custom Signage</li> 
		<li>Dimensional Letters</li>
		<li>Large Format Digital Printing</li> 
		<li>Magnetic Signs</li> 
		<li>Magnetic Signs for Vehicles</li> 
		<li>Point-of-Purchase Signage</li> 
		<li>Real Estate and Site Signs</li> 
		<li>Traffic and Property Restriction Signs</li> 
		<li>Vehicle Graphics</li> 
		<li>Vinyl Graphics</li> 
		<li>Yard and Real Estate Signs</li>
	
	</ul>
	
	<h1>Services</h1>
	<div class="box ContentBox" style="float: right;">
	<%=image_tag "hubbard_street_chicago.jpg", :size => "314×500", :alt => "Sign printing - Hubbard Street Chicago"%>
				 </div>
	
	<h2><em>If it can be designed, we can produce it!</em></h2>
	
	<p>We can design, produce, install and maintain any type of sign. As fully licensed electrical contractors, we can provide a wide range of sign services:</p> 
	
	<ol>
		<li>Design and layout</li>
	
		<li>Permit acquisition, including design review</li> 
	
		<li>Sign Production 
			<ul>
				<li>Electrical</li> 
				<li>Pole Signs</li> 
				<li>Awnings</li>
			</ul>
		</li>
		<li>Installation</li>
	
		<li>Maintenance</li> 
	
		<li>Large format full color direct output</li>
	
	</ol>
	
	<p>
		We pride ourselves on being a service-oriented company willing to tackle nearly any project that comes our way.
	Everything we do is designed to help you make the best impression possible. And we've thought of every imaginable way to do it. We use premium materials, state-of-the-art technologies, and a host of imaginative ideas to create the kind of image you'll be proud to display.
	To learn more about the many services we offer, please contact one of our representatives.
	</p>
	<div style="clear: both;"></div>
</div>